mat-card {
      max-width: 350px;
      width: 350px;
      margin: 2em auto;
      text-align: center;
}
    mat-form-field {

      display: block;
    }
.bg-login{
  background: url('https://storage.googleapis.com/theme-vessel/checking-sites/logdy-html/assets/img/img-4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
   min-height: calc(100vh - 0px);
}
body{
  background: url('https://storage.googleapis.com/theme-vessel/checking-sites/logdy-html/assets/img/img-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
   
}