<div class="grandParentContaniner">
  <div class="bg-login d-flex align-content-center flex-wrap">
    <mat-card class="my-0">
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <h4>Log In</h4>
          <mat-error *ngIf="loginInvalid">
            The username and password were not recognised
          </mat-error>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="username" formControlName="username" required>
            <mat-error>
              Please provide a valid username
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <small>username : test, password:test</small><br><br>
          <button mat-raised-button color="primary" type="submit">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>