  <mat-toolbar class="expanded-toolbar" *ngIf="!isAuthenticated">
      <div>
        <a class="sidebar-brand brand-logo" href="index.html">
          <img src="https://www.bootstrapdash.com/demo/corona/jquery/template/assets/images/logo.svg" alt="logo">
        </a>
      </div>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button *ngIf="isAuthenticated" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" class="white-icon" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-menu-item routerLink="/game">
      <mat-icon>gamepad</mat-icon>
      Play
    </button>
    <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>
  <div class="body-sec">
    <router-outlet></router-outlet>
  </div>
  
  
  